<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Test ITCSS</title>
    <meta name="description" content="test itcss">

    {% if app.env == "dev" %}
      <link rel="stylesheet" href="{{ app.asset_url }}css/main.css" />
    {% else %}
      <link rel="stylesheet" href="{{ app.asset_url }}css/main.min.css" />
    {% endif %}

    <!--<script src="{{ app.asset_url }}js/head.min.js"></script>-->

    {% block javascripts_head %}{% endblock %}
  </head>
  <body>
    
    {% block header %}
    {% endblock %}

    <main class="main">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}

    <script>var base_url = '{{ app.asset_url }}'</script>

    <script src="{{ app.asset_url }}js/footer.min.js"></script>

    {% block javascripts_files %}
    {% endblock %}

  </body>
</html>
